.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-left: 140px;
    margin-right: 140px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.box {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
 
}

@media only screen and (max-width: 1000px) {
    .container {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        display: block;
        margin-left: 2px;
        margin-right: 2px;
    }

    .box{
        height: 100%;
        width: 80%;
        margin-left: 10px;
        margin-right: 10px;
        z-index: 5;
    }

    .name {
        z-index: 10;
        font-size: 85px;
    }

    .cursor {
        display: none;
    }

    .brockmann {
        width: 65%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
    }

    .whatiscode {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
    }

    .dogpatch {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
    }

    .response {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
    }

    .fruits {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
    }

    .final {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
    } 
  }

.name {
    position: fixed;
    text-align: center;
    top: 20px;
    z-index: 10;
}

.whatiscode {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.whatiscode:hover {
    transform: scale(1.5);
    border-radius: 5px;
}

.brockmann {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.brockmann:hover {
    transform: scale(1.5);
    border-radius: 5px;
}

.dogpatch {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dogpatch:hover {
    transform: scale(1.5);
    border-radius: 5px;
}


.response {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.response:hover {
    transform: scale(1.5);
    border-radius: 5px;
}

.fruits {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fruits:hover {
    transform: scale(1.5);
    border-radius: 5px;
}

.final {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.final:hover {
    transform: scale(1.5);
    border-radius: 5px;
}

.cursor {
    width: 80px;
    height: 80px;
    position: relative;
    pointer-events: none;
    z-index: 100;
}


.link1 {
    display: inline-block;
    cursor: none;    
    z-index: 90;
}

.box:hover {
    z-index: 90;
    position: relative;
    cursor: none;  
}

body {
    cursor: none;
    background-image: url(./assets/texture.jpg);
    background-size: 2000px;
}

#box2 {
    display: none;
}

#box3 {
    display: none;
}

#box4 {
    display: none;
}

#box5 {
    display: none;
}

#box6 {
    display: none;
}

#box7 {
    display: none;
}

h2 {
    display: none;
}

h1{
    width: 100vw;
    font-size: 14rem;
}

#nameintro {
    font-size: 20px;
    font-family: gothic-open-shaded, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.backgroundcredit {
    display: none;
}
